!!! 5
%html
  %head
    %script(src="../node_modules/underscore/underscore.js")
    %script(src="../node_modules/three/three.js")
    %script(src="../node_modules/three/examples/js/controls/OrbitControls.js")
    %script(src="../bower_components/physijs/physi.js")
    %script(src="../public/scene.js")
    :css
      * {
        margin: 0;
        padding: 0;
      }
  %body
